langchain
langchain-community
langchain-core
langchain-openai
langgraph
openai
oracledb
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
pymongo
python-dotenv
requests
SQLAlchemy
prometheus-flask-exporter
langgraph-checkpoint-postgres
uvicorn
fastapi
prometheus-fastapi-instrumentator
python-multipart
boto3
langchain-ollama
ollama
langgraph-checkpoint-mongodb
psutil
pypdf2
python-docx